<h1>gmail address</h1>
<h1><%= @omniauth_info['info']['email'] %></h1>

<h1>omni_auth info</h1>
<% @omniauth_info.each do |key, value| %>
  <h1><%= key %> </h1>
  <p><%= value %> </p>
<% end %>
<br>
<h1>Omniauth credentials</h1>
<% @auth.each do |key, value| %>
  <h1><%= key %> </h1>
  <p><%= value %> </p>
<% end %>
